<%= content_for :page_title, "#{t 'seperator'} #{t 'menu.home'}" %>
<%= content_for :page, 'home' %>
<div class="video-container">
	<iframe id="player" width="500" height="281" src="<%= t 'home.video_url' %>" frameborder="0" allowfullscreen=""></iframe>
	<div class="halt">
		<h3><%= t 'flow.home.question' %></h3>
		<div class="col-md-4 col-md-offset-4">
			<a href="<%= page_path('flow/thanks') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.home.answer1' %></a>
			<a href="<%= page_path('flow/more') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.home.answer2' %></a>
			<a href="<%= page_path('flow/start') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.home.answer3' %></a>
			<a href="<%= page_path('flow/christian') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.home.answer4' %></a>
		</div>
	</div>
</div>
<h2 class="blue header"><%= t 'home.title' %></h2>
<h1><%= t 'home.meet_the_stars' %></h1>
<div id="players" class="row">
	<div class="col-sm-2 col-sm-offset-1 col-xs-6">
		<a href="<%= page_path('the_stars/kaka') %>"><%= image_tag "kaka.jpg" %>
			<h2><%= t 'the_stars.kaka.name' %></h2>
			<h4 class="blue"><%= t 'the_stars.kaka.country' %></h4>
		</a>
	</div>
	<div class="col-sm-2 col-xs-6">
		<a href="<%= page_path('the_stars/caucau') %>"><%= image_tag "caucau.jpg" %>
			<h2><%= t 'the_stars.caucau.name' %></h2>
			<h4 class="blue"><%= t 'the_stars.caucau.country' %></h4>
		</a>
	</div>
	<div class="col-sm-2 col-xs-6">
		<a href="<%= page_path('the_stars/enoh') %>"><%= image_tag "enoh.jpg" %>
			<h2><%= t 'the_stars.enoh.name' %></h2>
			<h4 class="blue"><%= t 'the_stars.enoh.country' %></h4>
		</a>
	</div>
	<div class="col-sm-2 col-xs-6">
		<a href="<%= page_path('the_stars/guzan') %>"><%= image_tag "guzan.jpg" %>
			<h2><%= t 'the_stars.guzan.name' %></h2>
			<h4 class="blue"><%= t 'the_stars.guzan.country' %></h4>
		</a>
	</div>
	<div class="col-sm-2 col-xs-6">
		<a href="<%= page_path('the_stars/mulenga') %>"><%= image_tag "mulenga.jpg" %>
			<h2><%= t 'the_stars.mulenga.name' %></h2>
			<h4 class="blue"><%= t 'the_stars.mulenga.country' %></h4>
		</a>
	</div>
</div>