<%= content_for :page_title, "#{I18n.t 'seperator'} #{I18n.t 'menu.home'}" %>
<%= content_for :page, 'home' %>
<div class="video-container">
	<iframe id="player" width="500" height="281" src="//player.vimeo.com/video/90343478?api=1&amp;autoplay=false&amp;player_id=player" frameborder="0" allowfullscreen=""></iframe>
	<div class="halt">
		<h3><%= I18n.t 'flow.home.question' %></h3>
		<div class="col-md-4 col-md-offset-4">
			<a href="<%= page_path('flow/thanks') %>" class="btn btn-lg btn-default btn-block"><%= I18n.t 'flow.home.answer1' %></a>
			<a href="<%= page_path('flow/more') %>" class="btn btn-lg btn-default btn-block"><%= I18n.t 'flow.home.answer2' %></a>
			<a href="<%= page_path('flow/more') %>" class="btn btn-lg btn-default btn-block"><%= I18n.t 'flow.home.answer3' %></a>
			<a href="<%= page_path('flow/christian') %>" class="btn btn-lg btn-default btn-block"><%= I18n.t 'flow.home.answer4' %></a>
		</div>
	</div>
</div>
<h2 class="blue header"><%= I18n.t 'home.title' %></h2>
<h1><%= I18n.t 'home.meet_the_stars' %></h1>
<div id="players" class="row">
	<div class="col-md-2 col-md-offset-1">
		<a href="<%= page_path('the_stars/kaka') %>"><%= image_tag "kaka.jpg" %>
			<h2><%= I18n.t 'the_stars.kaka.name' %></h2>
			<h4 class="blue"><%= I18n.t 'the_stars.kaka.country' %></h4>
		</a>
	</div>
	<div class="col-md-2">
		<a href="<%= page_path('the_stars/caucau') %>"><%= image_tag "caucau.jpg" %>
			<h2><%= I18n.t 'the_stars.caucau.name' %></h2>
			<h4 class="blue"><%= I18n.t 'the_stars.caucau.country' %></h4>
		</a>
	</div>
	<div class="col-md-2">
		<a href="<%= page_path('the_stars/enoh') %>"><%= image_tag "enoh.jpg" %>
			<h2><%= I18n.t 'the_stars.enoh.name' %></h2>
			<h4 class="blue"><%= I18n.t 'the_stars.enoh.country' %></h4>
		</a>
	</div>
	<div class="col-md-2">
		<a href="<%= page_path('the_stars/guzan') %>"><%= image_tag "guzan.jpg" %>
			<h2><%= I18n.t 'the_stars.guzan.name' %></h2>
			<h4 class="blue"><%= I18n.t 'the_stars.guzan.country' %></h4>
		</a>
	</div>
	<div class="col-md-2">
		<a href="<%= page_path('the_stars/mulenga') %>"><%= image_tag "mulenga.jpg" %>
			<h2><%= I18n.t 'the_stars.mulenga.name' %></h2>
			<h4 class="blue"><%= I18n.t 'the_stars.mulenga.country' %></h4>
		</a>
	</div>
</div>