<%= content_for :page_title, "#{t 'seperator'} #{t 'menu.resources'}" %>
<%= content_for :page, 'short' %>
<div class="text-center">
	<div class="col-sm-4">
		<h2 class="blue"><%= t 'resources.dvd.title' %></h2>
		<a href="http://aiagear.com/c-35-dvds.aspx" target="_blank"><%= t 'resources.dvd.subtitle' %><%= image_tag "dvd-cover.jpg", class: "img-responsive" %></a>
		<br>		
		<a href="http://veriteshop.co.uk/product-category/dvds/">To Order in the UK</a>
	</div>
	<div class="col-sm-4">
		<h2 class="blue"><%= t 'resources.jesusfilm_app.title' %></h2>
		<a href="http://app.jesusfilmmedia.org/#" target="_blank"><%= t 'resources.jesusfilm_app.subtitle' %><%= image_tag "jesus-film-app.jpg", class: "img-responsive" %></a>
	</div>
	<div class="col-sm-4">
		<h2 class="blue"><%= t 'resources.bible_studies.title' %></h2>		
		<h4>Starter Guides</h4>
		<a href="/resources/Prize-Starter-Guide-Warm-Ups.pdf" target="_blank" class="btn btn-block btn-lg btn-default"><%= t 'resources.bible_studies.question_guide' %></a>
		<a href="/resources/Prize-Starter-Guide-Get-In-the-Game.pdf" target="_blank" class="btn btn-block btn-lg btn-default"><%= t 'resources.bible_studies.student_guides' %></a>
		<!--
		<a href="/resources/AIA_ThePrize_StarterGuide.pdf" target="_blank" class="btn btn-block btn-lg btn-default"><%= t 'resources.bible_studies.question_guide' %></a>
		-->
		<h4>Studies</h4>
		<h4>Leader Guide</h4>		
		<a href="/resources/The-Prize-Under-Pressure-Table-of-Contents-and-Notes-Leader-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Table of Contents</a>
		<a href="/resources/The-Prize-Under-Pressure-Session-1-Leader-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 1</a>
		<a href="/resources/The-Prize-Under-Pressure-Session-2-Leader-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 2</a>
		<a href="/resources/The-Prize-Under-Pressure-Session-3-Leader-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 3</a>
		<a href="/resources/The-Prize-Under-Pressure-Session-4-Leader-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 4</a>
		<a href="/resources/The-Prize-Under-Pressure-Session-5-Leader-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 5</a>
		<a href="/resources/The-Prize-Under-Pressure-Session-6-Leader-guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 6</a>
		<a href="/resources/The-Prize-Under-Pressure-Session-7-Leader-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 7</a>
	
		<h4>Student Guide</h4>
		<a href="/resources/The-Prize-Under-Pressure-Table-of-Contents-and-Notes-Student-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Table of Contents</a>
		<a href="/resources/The-Prize-Under-Pressure-Session1-Student-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 1</a>
		<a href="/resources/The-Prize-Under-Pressure-Session-2-Student-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 2</a>
		<a href="/resources/The-Prize-Under-Pressure-Session-3-Student-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 3</a>
		<a href="/resources/The-Prize-Under-Pressure-Session-4-Student-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 4</a>
		<a href="/resources/The-Prize-Under-Pressure-Session-5-Student-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 5</a>
		<a href="/resources/The-Prize-Under-Pressure-Session-6-Student-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 6</a>
		<a href="/resources/ThePrize-Under-Pressure-Session-7-Student-Guide-final.pdf" target="_blank" class="btn btn-block btn-lg btn-default">Session 7</a>
	
		<!--
		<a href="/resources/AIA_ThePrize_LeaderGuides.zip" target="_blank" class="btn btn-block btn-lg btn-default"><%= t 'resources.bible_studies.leader_guides' %></a>
		<a href="/resources/AIA_ThePrize_StudentGuides.zip" target="_blank" class="btn btn-block btn-lg btn-default"><%= t 'resources.bible_studies.student_guides' %></a>
		-->

	</div>
</div>
