<%= content_for :page_title, "#{t 'seperator'} #{t 'menu.about'}" %>
<%= content_for :page, 'short' %>
<div class="row">
	
<h2>I've already watched The Prize!</h2>
		<h3><%= t 'flow.home.question' %></h3>
		<div class="col-md-4 col-md-offset-4">			
			<a href="<%= page_path('flow/more') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.home.answer2' %></a>
			<a href="<%= page_path('flow/start') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.home.answer3' %></a>
			<a href="<%= page_path('flow/christian') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.home.answer4' %></a>
			<a href="<%= page_path('flow/thanks') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.home.answer1' %></a>
		</div>

	
</div>
