<%= content_for :page_title, "#{t 'seperator'} #{t 'the_stars.enoh.name'}" %>
<div class="video-container" style="background-image: url(<%= image_url('enoh-profile.jpg') %>); background-size: cover;"></div>
<%= render 'stars_menu' %>
<hr>
<div class="profile">
	<h1 class="blue"><%= t 'the_stars.enoh.name' %></h1><h3><%= t 'the_stars.enoh.country' %></h3>
	<div class="row">
		<div class="col-md-6">
			<p><%= t 'the_stars.enoh.col1' %></p>
		</div>
		<div class="col-md-6">
			<p><%= t 'the_stars.enoh.col2' %></p>
		</div>
	</div>
</div>