<%= content_for :page_title, "#{t 'seperator'} #{t 'the_stars.kaka.name'}" %>
<div class="video-container" style="background-image: url(<%= image_url('kaka-profile.jpg') %>); background-size: cover;"></div>
<%= render 'stars_menu' %>
<hr>
<div class="profile">
	<h1 class="blue"><%= t 'the_stars.kaka.name' %></h1><h3><%= t 'the_stars.kaka.country' %></h3>
	<div class="row">
		<div class="col-md-6">
			<p><%= t 'the_stars.kaka.col1' %></p>
		</div>
		<div class="col-md-6">
			<p><%= t 'the_stars.kaka.col2' %></p>
			<h2 class="text-left gray">
				<a href="https://twitter.com/KAKA" target="_blank"><%= fa_stacked_icon "twitter", base: "circle-o" %></a>
				<a href="http://instagram.com/kaka" target="_blank"><%= fa_stacked_icon "instagram", base: "circle-o" %></a>
			</h2>
		</div>
	</div>
</div>