<%= content_for :page_title, "#{t 'seperator'} #{t 'flow.challenge.page_title'}" %>
<%= content_for :page, 'short' %>
<div class="profile">
  <h2><%= t 'flow.challenge.title' %></h2><h4 class="blue"><%= t 'flow.challenge.subtitle' %></h4>
</div>
<div class="col-md-10 col-md-offset-1 challenge">
  <%= form_tag "/starter_requests", method: "post", remote: true, class: "col-md-6", role:"form", onSubmit: '$("#status").show()' do %>
    <h2 class="blue"><%= t 'flow.challenge.action_form.title' %></h2>
    <p>
      <%= t 'flow.challenge.action_form.text1' %>
    </p>

    <p>
      <%= t 'flow.challenge.action_form.text2' %>
    </p>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><%= fa_icon "user" %></span>
        <%= text_field_tag :name, nil, class: "form-control", placeholder: "#{t 'flow.challenge.action_form.name'}" %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <%= email_field_tag :name, nil, class: "form-control", placeholder: "#{t 'flow.challenge.action_form.email'}" %>
      </div>
    </div>

    <div class="form-group">
      <%= submit_tag "#{t 'flow.challenge.action_form.button'}", class: "btn btn-block btn-lg btn-default" %>
    </div>

    <p id='status' style='display:none'>
      <%= t 'flow.challenge.action_form.received' %>
    </p>
  <% end %>

  <%= form_tag "/starter_requests", method: "post", remote: true, class: "col-md-6" do %>
    <h2 class="blue"><%= t 'flow.challenge.invite.title' %></h2>

    <p>
      <%= t 'flow.challenge.invite.text1' %>
    </p>

    <p>
      <%= t 'flow.challenge.invite.text2' %>
    </p>

    <h2 class="text-left gray">
      <a href="#"><%= fa_stacked_icon "facebook", base: "circle-o" %></a>
      <a href="#"><%= fa_stacked_icon "envelope", base: "circle-o" %></a>
    </h2>
  <% end %>
</div>
