<%= content_for :page_title, "#{t 'seperator'} #{t 'flow.thanks.page_title'}" %>
<%= content_for :page, 'short' %>
<div class="profile">
	<h2><%= t 'flow.thanks_signup.title' %></h2><h4 class="blue left"><%= t 'flow.thanks_signup.subtitle' %></h4>
</div>
<div class="row">
	<div class="col-md-12 text-left">
		<%= t('flow.thanks_signup.text_html').html_safe %>
	</div>
</div>
