<%= content_for :page_title, "#{t 'seperator'} #{t 'flow.thanks.page_title'}" %>
<%= content_for :page, 'short' %>
<div class="profile">
	<h2><%= t 'flow.thanks.title' %></h2><h4 class="blue"><%= t 'flow.thanks.subtitle' %></h4>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		<%= t('flow.thanks.text_html', :href => link_to( t("flow.thanks.text_link"), t("flow.thanks.text_url"), :target => "_blank")).html_safe %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Is God Good?</h2>
		<p>If God is good and loving, why do people suffer? <a href="http://www.everystudent.com/videos/isGodgood.html">This is a 2min video</a> that gives a logical answer.</p>
		<h2>Is God a Figment of Our Imagination?</h2>
		<p>People seem to make up their own ideas of what they think God is like.  Turns out, <a href="http://www.everystudent.com/features/whypick.html">the God described in the Bible</a> is better than we could imagine.</p>
		<h2>Life Can Be Tough?</h2>
		<p>If you really want to change yours, <a href="http://www.everystudent.com/features/source.html">here's how to do it.</a></p>
		<!--
		<%= t('flow.thanks.text_html', :href => link_to( t("flow.thanks.text_link"), t("flow.thanks.text_url"), :target => "_blank")).html_safe %>
		-->
	</div>
</div>
