<%= content_for :page_title, "#{t 'seperator'} #{t 'flow.decision.page_title'}" %>
<%= content_for :page, 'short' %>
<div class="row">
	<div class="col-md-9">
		<h2 class="blue">KNOWING GOD PERSONALLY</h2>
		<h3>What does it take to know God?  This will explain how you can personally begin a relationship with God, right now.</h3>
		<hr>
		<h4>What does it take to begin a relationship with God?</h4>
			<p> Wait for lightning to strike? Devote yourself to unselfish religious deeds? Become a better person so that God will accept you? NONE of these. God has made it very clear in the Bible how we can know Him. This will explain how you can personally begin a relationship with God, right now…</p>
		
		<hr>
		<h3 class="blue">Principle One: God loves you and offers a wonderful plan for your life. </h3>
		<p>God created you. Not only that, he loves you so much that he wants you to know him now and spend eternity with him. Jesus said, "For God so loved the world that he gave his only Son so that everyone who believes in him will not perish but have eternal life."</p>
		<p>Jesus came so that each of us could know and understand God in a personal way. Jesus alone can bring meaning and purpose to life.</p>
		<p>What keeps us from knowing God? ...</p>

		<hr>
		<h3 class="blue">Principle Two: All of us sin and our sin has separated us from God. </h3>
		<p>We sense that separation, that distance from God because of our sin. The Bible tells us that "All of us like sheep have gone astray; each of us has turned to his own way."</p>
		<p>Deep down, our attitude may be one of active rebellion or passive indifference toward God and his ways, but it's all evidence of what the Bible calls sin.</p>
		<p>The result of sin in our lives is death -- spiritual separation from God.3 Although we may try to get close to God through our own effort, we inevitably fail.</p>
		<p><img src="<%= image_url("god_people2B.jpg") %>"/>This diagram shows the great gap that exists between us and God. The arrows illustrate how we might try to reach God through our own efforts. We may try to do good things in life, or earn God's acceptance through a good life or a moral philosophy. But our good efforts are insufficient to cover up our sin.</p>
		<p>How can we bridge this gulf?...</p>		

		<hr>
		<h3 class="blue">Principle Three: Jesus Christ is God's only provision for our sin. Through him we can know and experience God's love and plan for our life. </h3>
		<p>We deserve to pay for our own sin. The problem is, the payment is death. So that we would not have to die separated from God, out of his love for us, Jesus Christ died in our place.</p>

		<p>The Bible states that Jesus is "the image of the invisible God...by him all things were created...."4 Jesus was crucified for blasphemy -- for clearly identifying himself as equal to God -- which he was.</p>

		<p>On the cross, Jesus took all of our sin on himself and completely, fully paid for it. "For Christ also died for sins...the just for the unjust, so that he might bring us to God."5 "...he saved us, not because of righteous things we had done, but because of his mercy."6 Because of Jesus' death on the cross, our sin doesn't have to separate us from God any longer.</p>

		<p><img src="<%= image_url("god_peopleB.jpg") %>"/>"For God so loved the world that he gave his only Son, so that everyone who believes in him will not perish but have eternal life."</p>

		<p>Jesus not only died for our sin, he rose from the dead.8 When he did, he proved beyond doubt that he can rightfully promise eternal life -- that he is the Son of God and the only means by which we can know God. That is why Jesus said, "I am the way, the truth and the life; no one can come to the Father except through me."</p>
		<p>Instead of trying harder to reach God, he tells us how we can begin a relationship with him right now. Jesus says, "Come to me." "If anyone thirsts, let him come to me and drink. Whoever believes in me... out of his heart will flow rivers of living water."10 It was Jesus' love for us that caused him to endure the cross. And he now invites us to come to him, that we might begin a personal relationship with God.</p>
		<p>Just knowing what Jesus has done for us and what he is offering us is not enough. To have a relationship with God, we need to welcome him into our life...</p>

		<h3 class="blue">Principle Four: We must individually accept Jesus Christ as Savior and Lord. </h3>
		<p>The Bible says, "Yet to all who received him, to those who believed in his name, he gave the right to become children of God."</p>
		<p>We accept Jesus by faith. The Bible says, "God saved you by his special favor when you believed. And you can't take credit for this; it is a gift from God. Salvation is not a reward for the good things we have done, so none of us can boast about it."</p>
		<p>Accepting Jesus means believing that Jesus is the Son of God, who he claimed to be, then inviting him to guide and direct our lives.13 Jesus said, "I came that you might have life, and have it more abundantly."</p>
		<p>And here is Jesus' invitation. He said, "I'm standing at the door and I'm knocking. If anyone hears my voice and opens the door, I will come in."</p>
		<p>How will you respond to God's invitation?</p>

		<!-- Circles with diagrams go here -->

		<div class="col-sm-4 col-sm-offset-2 col-xs-7">
	      <a href="/players/kaka"><img src="<%= image_url("selfdirected.jpg") %>"/>	        
	        <h4 class="blue">Self Directed</h4>
	      </a>
	    </div>
	    <div class="col-sm-4 col-sm-offset-2 col-xs-7">
	      <a href="/players/kaka"><img src="<%= image_url("christdirected.gif") %>"/>	        
	        <h4 class="blue">Christ-Directed Life</h4>
	      </a>
	    </div>
		

		

		<!-- END Circle content -->

		<p>Which circle best represents your life?</p>

		<p>Which circle would you like to have represent your life?</p>
		<p>Begin a relationship with Jesus...</p>
		<p>You can receive Christ right now. Remember that Jesus says, "I'm standing at the door and I'm knocking. If anyone hears my voice and opens the door, I will come in."16 Would you like to respond to his invitation? Here's how.</p>
		<p>The precise words you use to commit yourself to God are not important. He knows the intentions of your heart. If you are unsure of what to pray, this might help you put it into words:</p>
		<p>"Jesus, I want to know you. I want you to come into my life. Thank you for dying on the cross for my sin so that I could be fully accepted by you. Only you can give me the power to change and become the person you created me to be. Thank you for forgiving me and giving me eternal life with God. I give my life to you. Please do with it as you wish. Amen."</p>
		<p>If you sincerely asked Jesus into your life just now, then he has come into your life as he promised. You have begun a personal relationship with God.</p>
		<p>What follows is a lifelong journey of change and growth as you get to know God better through Bible reading, prayer and interaction with other Christians.</p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>

	</div>
	<div class="col-md-3">
		<h2>Resource Links</h2>
		<ul>
			<li><h3><a href="http://www.juststopandthink.com/francis-chan-video-just-stop-think-the-movie/" >Stop and Think</a></h3></li>
			<li><h3><a href="http://www.iamsecond.com/seconds/kaka-2/  " >Kaká - I am Second</a></h3></li>
			<li><h3><a href="http://www.everystudent.com/features/bible.html" >Can you believe the Bible?</a></h3></li>
		</ul>

	</div>
</div>

<!-- Bosco (portuguese only) -->
<h4 class="blue"><%= t 'flow.decision.title' %></h4>
<div class="video-container">
  <div id="ytplayer" data-video_id="<%= t 'flow.decision.video_id'.html_safe %>"></div>
	<div class="halt">
		<h3><%= t 'flow.decision.question' %></h3>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<a href="<%= page_path('flow/challenge') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.decision.answer1' %></a>
				<a href="<%= page_path('flow/thanks') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.decision.answer2' %></a>
				<a href="<%= page_path('flow/christian') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.decision.answer3' %></a>
			</div>
		</div>
	</div>
</div>

<!-- Portuguese only for now -->
<h4 class="blue">Bosco & Kaká - Portuguese Language Only</h4>
<iframe width="560" height="315" src="//www.youtube.com/embed/CWI4aqcUiNM?rel=0" frameborder="0" allowfullscreen></iframe>
