<%= content_for :page_title, "#{t 'seperator'} #{t 'flow.decision.page_title'}" %>
<h4 class="blue"><%= t 'flow.decision.title' %></h4>
<div class="video-container">
  <iframe width='640' height='360' src='http://qa.jfpmedia.com/videoPlayerUrl?refId=4_529-AIAWC-ThePrize_RVR-0-0&apiSessionId=5356c3fed9ad96.86477265&playerStyle=vanilla' frameborder='0' allowfullscreen></iframe>]]>
	<div class="halt">
		<h3><%= t 'flow.decision.question' %></h3>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<a href="<%= page_path('flow/challenge') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.decision.answer1' %></a>
				<a href="<%= page_path('flow/thanks') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.decision.answer2' %></a>
				<a href="<%= page_path('flow/christian') %>" class="btn btn-lg btn-default btn-block"><%= t 'flow.decision.answer3' %></a>
			</div>
		</div>
	</div>
</div>
