<div id="players" class="row">
	<div class="col-md-2 col-md-offset-1"><a href="<%= page_path('the_stars/kaka') %>"><h2 class="<%= is_active? page_path('the_stars/kaka'), 'blue' %>">KAKÁ</h2></a></div>
	<div class="col-md-2"><a href="<%= page_path('the_stars/caucau') %>"><h2 class="<%= is_active? page_path('the_stars/caucau'), 'blue' %>">Caucau</h2></a></div>
	<div class="col-md-2"><a href="<%= page_path('the_stars/enoh') %>"><h2 class="<%= is_active? page_path('the_stars/enoh'), 'blue' %>">Enoh</h2></a></div>
	<div class="col-md-2"><a href="<%= page_path('the_stars/guzan') %>"><h2 class="<%= is_active? page_path('the_stars/guzan'), 'blue' %>">Guzan</h2></a></div>
	<div class="col-md-2"><a href="<%= page_path('the_stars/mulenga') %>"><h2 class="<%= is_active? page_path('the_stars/mulenga'), 'blue' %>">Mulenga</h2></a></div>
</div>