<div id="players" class="row">
	<div class="col-sm-2 col-sm-offset-1 col-xs-6">
		<a href="<%= page_path('players/kaka') %>">
			<h4 class="<%= is_active? page_path('players/kaka'), 'blue' %>"><%= t 'the_stars.kaka.name' %></h2>
		</a>
	</div>
	<div class="col-sm-2 col-xs-6">
		<a href="<%= page_path('players/caucau') %>">
			<h4 class="<%= is_active? page_path('players/caucau'), 'blue' %>"><%= t 'the_stars.caucau.name' %></h2>
		</a>
	</div>
	<div class="col-sm-2 col-xs-6">
		<a href="<%= page_path('players/enoh') %>">
			<h4 class="<%= is_active? page_path('players/enoh'), 'blue' %>"><%= t 'the_stars.enoh.name' %></h2>
		</a>
	</div>
	<div class="col-sm-2 col-xs-6">
		<a href="<%= page_path('players/guzan') %>">
			<h4 class="<%= is_active? page_path('players/guzan'), 'blue' %>"><%= t 'the_stars.guzan.name' %></h2>
		</a>
	</div>
	<div class="col-sm-2 col-xs-12">
		<a href="<%= page_path('players/mulenga') %>">
			<h4 class="<%= is_active? page_path('players/mulenga'), 'blue' %>"><%= t 'the_stars.mulenga.name' %></h2>
		</a>
	</div>
</div>
