<div id="players" class="row" data-no-turbolink>
	<div class="col-sm-2 col-sm-offset-1 col-xs-6">
		<a href="<%= page_path('the_stars/kaka') %>">
			<h4 class="<%= is_active? page_path('the_stars/kaka'), 'blue' %>"><%= t 'the_stars.kaka.name' %></h2>
		</a>
	</div>
	<div class="col-sm-2 col-xs-6">
		<a href="<%= page_path('the_stars/caucau') %>">
			<h4 class="<%= is_active? page_path('the_stars/caucau'), 'blue' %>"><%= t 'the_stars.caucau.name' %></h2>
		</a>
	</div>
	<div class="col-sm-2 col-xs-6">
		<a href="<%= page_path('the_stars/enoh') %>">
			<h4 class="<%= is_active? page_path('the_stars/enoh'), 'blue' %>"><%= t 'the_stars.enoh.name' %></h2>
		</a>
	</div>
	<div class="col-sm-2 col-xs-6">
		<a href="<%= page_path('the_stars/guzan') %>">
			<h4 class="<%= is_active? page_path('the_stars/guzan'), 'blue' %>"><%= t 'the_stars.guzan.name' %></h2>
		</a>
	</div>
	<div class="col-sm-2 col-xs-12">
		<a href="<%= page_path('the_stars/mulenga') %>">
			<h4 class="<%= is_active? page_path('the_stars/mulenga'), 'blue' %>"><%= t 'the_stars.mulenga.name' %></h2>
		</a>
	</div>
</div>
