<div id="players" class="row">
	<div class="col-md-2 col-md-offset-1">
		<a href="<%= page_path('the_stars/kaka') %>">
			<h2 class="<%= is_active? page_path('the_stars/kaka'), 'blue' %>"><%= t 'the_stars.kaka.name' %></h2>
		</a>
	</div>
	<div class="col-md-2">
		<a href="<%= page_path('the_stars/caucau') %>">
			<h2 class="<%= is_active? page_path('the_stars/caucau'), 'blue' %>"><%= t 'the_stars.caucau.name' %></h2>
		</a>
	</div>
	<div class="col-md-2">
		<a href="<%= page_path('the_stars/enoh') %>">
			<h2 class="<%= is_active? page_path('the_stars/enoh'), 'blue' %>"><%= t 'the_stars.enoh.name' %></h2>
		</a>
	</div>
	<div class="col-md-2">
		<a href="<%= page_path('the_stars/guzan') %>">
			<h2 class="<%= is_active? page_path('the_stars/guzan'), 'blue' %>"><%= t 'the_stars.guzan.name' %></h2>
		</a>
	</div>
	<div class="col-md-2">
		<a href="<%= page_path('the_stars/mulenga') %>">
			<h2 class="<%= is_active? page_path('the_stars/mulenga'), 'blue' %>"><%= t 'the_stars.mulenga.name' %></h2>
		</a>
	</div>
</div>